@tailwind base;
@tailwind components;
@tailwind utilities;


/*--------------------------------------------------*/
/*                  HIDE SCROLLBAR                  */
/*--------------------------------------------------*/

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}


/*--------------------------------------------------*/
/*                  REACT CALENDAR                  */
/*--------------------------------------------------*/
.react-calendar {
    width: 100% !important;
    border: none !important;
    font-family: 'Inter', sans-serif;
}

.react-calendar__navigation__label__labelText {
    font-weight: 600;
}

.react-calendar__tile--active {
    background: #006edc !important;
    color: white !important;
    border-radius: 6px !important;
}



/*--------------------------------------------------*/
/*              REACT BIG CALENDAR                  */
/*--------------------------------------------------*/
.rbc-toolbar {
    margin-top: 10px !important;
    gap: 10px !important;
}

.rbc-btn-group:first-child {
    font-size: 13px !important;
}

.rbc-toolbar-label {
    text-align: center !important;
}

.rbc-btn-group:last-child {
    font-size: 13px !important;
}

.rbc-btn-group:last-child button {
    border: none !important;
    background-color: #caf0f8 !important;
    margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
    background-color: #90e0ef !important;
    box-shadow: none !important;
}

.rbc-time-view {
    border-color: #ddd !important;
    border-radius: 6px !important;
}

.rbc-time-content {
    border-top: none !important;
}

.rbc-allday-cell {
    display: none !important;
}

.rbc-header {
    font-size: 12px !important;
    padding: 10px 0 !important;
}

.rbc-time-gutter.rbc-time-column {
    font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
    padding: 10px !important;
    text-align: center !important;
}

.rbc-timeslot-group {
    background-color: #fff !important;
}

.rbc-day-slot {
    font-size: 14px !important;
}

.rbc-event {
    color: black !important;
    padding: 10px !important;
    margin: 5px !important;
}

.rbc-event-label {
    font-size: 10px !important;
    color: black !important;
    margin-bottom: 5px;
}